# for f in $(git status --porcelain | grep '^??' | sed 's/^?? //'); do
#     test -L "$f" && echo $f >> .gitignore; # add symlinks
#     #test -d "$f" && echo $f\* >> .gitignore; # add new directories as well
# done
# find . -type l | sed -e s'/^\.\///g' >> .gitignore

*/*~
*~

*.bak
*.bkp
*.sh.rc

conky.configs/*

dot.files/.config/*
!dot.files/.config/awesome
!dot.files/.config/compiz
!dot.files/.config/gentoo/gentoorc
!dot.files/.config/mpd/mpd.conf
!dot.files/.config/ncmpcpp/config
!dot.files/.config/openbox
!dot.files/.config/polybar
!dot.files/.config/tint2
!dot.files/.config/compton.conf

dot.files/.e16/*
!dot.files/.e16/Init/e16.sh
!dot.files/.e16/menus
!dot.files/.e16/themes
!dot.files/.e16/bindings.cfg

dot.files/.emacs.d/*

dot.files/.gnupg/*

dot.files/.ngrok2/*

dot.files/.ssh/*

dot.files/bin/*
!dots/dot.files/bin/wallpaper-rotate.sh
!dots/dot.files/bin/keepParamAlive.sh
!dots/dot.files/bin/lol.sh
!dots/dot.files/bin/pimp-my-gui.sh
!dots/dot.files/bin/runcmd.sh
!dots/dot.files/bin/screenshot.sh
!dots/dot.files/bin/unix.sh
!dots/dot.files/bin/wallpaper-rotate.sh

dot.files/GNUstep/*
!dot.files/GNUstep/Defaults/WindowMaker
!dot.files/GNUstep/Defaults/WMRootMenu
!dot.files/GNUstep/Library/WindowMaker/Themes/*
!dot.files/GNUstep/Library/WindowMaker/autostart
!dot.files/GNUstep/Library/WindowMaker/exitscript
!dot.files/GNUstep/Library/WindowMaker/README
!dot.files/GNUstep/Library/WindowMaker/README.themes

dot.files/.bkp.includes.txt
dot.files/.bkp.excludes.txt

dot.files/.gitconfig

dot.files/.ssh/*

dot.files/.my.cnf.*

private/*
test.sh
