#
# for f in $(git status --porcelain | grep '^??' | sed 's/^?? //'); do
#     test -L "$f" && echo $f >> .gitignore; # add symlinks
#     #test -d "$f" && echo $f\* >> .gitignore; # add new directories as well
# done
#
# find . -type l | sed -e s'/^\.\///g' >> .gitignore

*/*~
*~
old/*
atom
eclipse
firefox
firefox-de
FoxitReader
foxitreader
*.txt
kdevelop
lighttable
micro
netbeans
seamonkey
sublime_text
tor
vscode
xpdf
