<menu>
	<item type="launcher">
		<name>_Epiphany</name>
		<icon>gnome-web-browser</icon>
		<command>doublecmd</command>
	</item>
	<item type="launcher">
		<name>_Terminal</name>
		<icon>gnome-terminal</icon>
		<command>terminology</command>
	</item>
	<menu name="E_xtras">
		<item type="launcher">
			<name>Te_xt Editor</name>
			<icon>accessories-text-editor</icon>
			<command>mxcl</command>
		</item>
		<item type="launcher">
			<name>_Aisleriot Solitaire</name>
			<icon>gnome-aisleriot</icon>
			<command>sol</command>
		</item>
	</menu>
	<separator/>
	<item type="windowlist"/>
	<item type="viewportlist"/>
	<item type="launcher">
		<icon>gtk-edit</icon>
		<command>compiz-boxmenu-editor</command>
		<name>E_dit</name>
	</item>
	<item type="reload"/>
</menu>