*
!.Xdefaults
!.Xresources
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.gvimrc
!.muttrc
!.mwmrc
!.profile
!.tmux.conf
!.vimrc
!.xinitrc
!.xsession
!GNUstep
!Mwm
!bin
!sbin
!.Xresources.d
!.bashrc.d
!.config
!.e16



