*
!.Xdefaults
!.Xresources
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.gvimrc
!.muttrc
!.profile
!.tmux.conf
!.toprc
!.vimrc
!.xinitrc
!.xsession
!.Xresources.d/*
!.bashrc.d/*
!.config/*
!.e16/*
!.local/*
