*
!.Xdefaults
!.Xresources
!.Xresources.d
!.bash_logout
!.bash_profile
!.bashrc
!.bashrc.d
!.config
!.e16
!.gitignore
!.gvimrc
!.muttrc
!.mwmrc
!.profile
!.tmux.conf
!.toprc
!.vimrc
!.xinitrc
!.xsession
!GNUstep
!Mwm
!bin
!sbin



