! Put this file as ~/.Xresources in your home directory

#include ".Xresources.d/xterm.Xresources"
#include ".Xresources.d/urxvt.Xresources"
#include ".Xresources.d/emacs.Xresources"
#include ".Xresources.d/mwm.Xresources"
